<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>nextc-erro</title>
</head>

<body class="bg-primary">
    <!-- inicio corpo  -->
    <div class="main-content " id="panel">

        <section class="py-3 pt-8 pb-8">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8">

                    </div>
                </div>
            </div>
        </section>
        <section class="min-vh-70 o-hidden d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center text-center align-items-center">
                    <div class="col-xl-8 col-lg-9 col-md-10 layer-3" data-aos="fade-up" data-aos-delay="500">
                        <h1 class="display-3 text-white">
                            Erro 404
                        </h1>

                        <a href="/" class="btn btn-lg btn-white mx-1">
                            Voltar ao site?
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>
